.main-div-register{
    margin-top: 90px;
    margin-bottom: 122px;
}

.form-register {
    margin: 0 auto;
    width: 600px;
    background-color: #c1c2c5;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

.form-register input {
    font-size: 1em;
    margin-top: 1em;
    background-color: transparent;   
    border: none;
    border-bottom: 2px solid #000;
}

.form-register label {
    font-weight: bold;
}

input[type="submit"]{
    margin-top: 20px;
    text-decoration: none;
    color: #FFF;
    background-color: #373A40;
    border-radius: 5px;
    font-weight: bold;
    padding: .5em .8em;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

input[type="submit"]:hover {
    color: #373A40;
    background-color: #FFF;
    transition: .5s;
    border-radius: 5px;
    font-weight: bold;
    padding: .5em .8em;
}

.login-redirect {
    text-decoration: none;
    font-weight: bold;
    color: #000;
 }

