.footer {
    background-color: #373A40;
    height: 50px;
    align-items: center;
    border-top: 2px solid #000;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.footer p{
    margin: 0;
    color: #fff;
}

.footer span {
    font-weight: bold;
}